{% extends "./general.html" %}

{% block title %} Edición de Mascotas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Mascota</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url "edicionM2" %}" method="POST">{% csrf_token %}

                    <div class="form-group">
                        <input type="text" id="numId" name="numId" value="{{mascota.id}}" class="form-control" placeholder="Id" min="1" readonly required>
                    </div>
                    <div class="form-group">
                        <select id="numIdCliente" name="numIdCliente" style="width:100%" required>
                        <option value="">Seleccionar Dueño...</option>
                        {% for c in cliente %}
                        <option value={{c.id}}>{{c.nombres}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipoMascota" name="txtTipoMascota" value="{{mascota.tipo_mascota}}" class="form-control" placeholder="Tipo Mascota"
                            maxlength="25" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{mascota.nombre}}" class="form-control" placeholder="Nombre"
                            maxlength="35" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtSexo" name="txtSexo" value="{{mascota.sexo}}" class="form-control" placeholder="Sexo"
                            maxlength="10" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="fechaNacimiento" name="fechaNacimiento" value="{{mascota.fecha_nacimiento}}" placeholder="Fecha Nacimiento"
                         maxlength="10" style="width:100%" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtRaza" name="txtRaza" value="{{mascota.raza}}" class="form-control" placeholder="Raza"
                            maxlength="65" readonly required>
                    </div>
                    <div class="form-group">
                        <select id="txtEstado" name="txtEstado" style="width:100%" required>
                        <option value="">Selecciona el Estado...</option>
                        <option value="1">True</option>
                        <option value="0">False</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}