{% extends "./general.html" %}

{% block title %} Registro de Mascotas {% endblock %}

{% block body %}
<div class="row">
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2 style="color: red">&nbsp;&nbsp;&nbsp;Buscar Mascota:</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url "generalM2" %}" method="get">{% csrf_token %}
                    <div class="form-group">
                        <input class="nav-link" type="text" id="q" name="q" placeholder="Id, Nombre, etc..." style="width:100%">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Buscar</button>
                    </div>
                </form>
                    <div class="form-group">
                        <a href="{% url "registrarM1" %}" class="btn btn-info" style="width:100%">Registrar</a>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-9 col-xl-9">
        <h1>Listado de Mascotas</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Dueño</th>
                        <th>Tipo Mascota</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Raza</th>
                        <th>Estado</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in mascotas %}
                    <tr>
                        <td>{{m.id}}</td>
                        <td>{{m.id_cliente.nombres}}</td>
                        <td>{{m.tipo_mascota}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.sexo}}</td>
                        <td>{{m.fecha_nacimiento}}</td>
                        <td>{{m.raza}}</td>
                        <td>{{m.estado}}</td>
                        <td><a href="{% url "edicionM1" m.id %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url "eliminarM" m.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres borrar esta Mascota del registro?')">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}